.wrap {
    width: 100%;
    background-color: grey;
}

#UpperHalfDiv {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    background-color: blueviolet;
}

#ColorWheel {
    position: relative;
    overflow: visible;
    display: block;        
    width: 50%; 
    height: 100%; 
    left: 0px;
    top: 0px; 
    background-color: lightgrey;
}

#ChoiceDiv {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: aquamarine;
}

#Choice {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 10%;
    left: 10%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
    background-color: hsla(120,60%,45%,20%);
}

#Background {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 20%;
    left: 20%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
    background-color: lightgray;
}

#HueDiv, #SaturationDiv, #LightDiv, #AlphaDiv {
    position: relative;
    overflow: visible;
    display: block;        
    top: 0.5em; 
}

#HueDiv {
    background-color: green;
}

#SaturationDiv {
    background-color: lightblue;
}

#LightDiv {
    background-color: lightgreen;
}

#AlphaDiv {
    background-color: lightgoldenrodyellow;
}

#WheelSlider {
    position: absolute; 
}

.ranger {
    position: relative;
    display: inline-block;
    background-color: chocolate;
    width: 200px;
    height: 1em;
    top: 0.25em;
    border: solid;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: black;
}

.slider {
    position: absolute;
    background-color: transparent;
    width: 1em;
    height: 1em;
    top: 0;
    left: 0;
}

h2,h5 {
    text-align: center;
}

h2 {
    margin-bottom: 0.3em;
}

h5 {
    margin-top: 0.2em;
}
